</main>
<hr>
<footer class="text-center">
		<small>&copy; {{getCurrentYear}} | À l'origine : <a href="https://www.youtube.com/channel/UCLNwqjjXBpB7tzUqQk3L_3Q" target="_blank">Zokuru</a>, <a href="https://www.youtube.com/channel/UCO35rCYrO_3t6f4tEU83WKg" target="_blank">Fildrong</a> | <a href="https://www.pokemon.com/fr/" target="_blank">&copy; Pokémon</a> </small>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	{{#if table}}
	
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" src="/script/table.js"></script>

	{{/if}}
</body>
</html>
