<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Use Them All</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	{{#if table}}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
	{{/if}}
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<h1 class="text-light"><a class="nav-link navbar-brand" href="/"><span class="h1">Tier Use Them All</span></a></h1>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  	</button>

	        <div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="https://strategydatabase.jimdo.com/uta/" target="_blank" class="nav-link">Règles</a>
					</li>
					<li class="nav-item">
						<a href="/news" class="nav-link">News</a>
					</li>
					{{!-- <li class="nav-item">
						<a class="nav-link" href="/pokemon/search">Recherche avancée</a>
					</li> --}}
					<li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				        	Rangs
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/pokemon/rank/S">Rang S</a>
							<a class="dropdown-item" href="/pokemon/rank/A">Rang A</a>
							<a class="dropdown-item" href="/pokemon/rank/B">Rang B</a>
							<a class="dropdown-item" href="/pokemon/rank/C">Rang C</a>
							<a class="dropdown-item" href="/pokemon/rank/D">Rang D</a>
							<a class="dropdown-item" href="/pokemon/rank/E">Rang E</a>
							<a class="dropdown-item" href="/pokemon/rank/BAN">Ban list</a>
				        </div>
				    </li>
				    <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				        	Types
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/pokemon/type/Acier">Type acier</a>
							<a class="dropdown-item" href="/pokemon/type/Combat">Type combat</a>
							<a class="dropdown-item" href="/pokemon/type/Dragon">Type dragon</a>
							<a class="dropdown-item" href="/pokemon/type/eau">Type eau</a>
							<a class="dropdown-item" href="/pokemon/type/Electrik">Type électrik</a>
							<a class="dropdown-item" href="/pokemon/type/Fée">Type fée</a>
							<a class="dropdown-item" href="/pokemon/type/Feu">Type feu</a>
							<a class="dropdown-item" href="/pokemon/type/Glace">Type glace</a>
							<a class="dropdown-item" href="/pokemon/type/Insecte">Type insecte</a>
							<a class="dropdown-item" href="/pokemon/type/Normal">Type normal</a>
							<a class="dropdown-item" href="/pokemon/type/Plante">Type plante</a>
							<a class="dropdown-item" href="/pokemon/type/Poison">Type poison</a>
							<a class="dropdown-item" href="/pokemon/type/Psy">Type psy</a>
							<a class="dropdown-item" href="/pokemon/type/Roche">Type roche</a>
							<a class="dropdown-item" href="/pokemon/type/Sol">Type sol</a>
							<a class="dropdown-item" href="/pokemon/type/Spectre">Type spectre</a>
							<a class="dropdown-item" href="/pokemon/type/Ténèbres">Type ténèbres</a>
							<a class="dropdown-item" href="/pokemon/type/Vol">Type vol</a>
				        </div>
				    </li>
				    <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				        	Génération
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/pokemon/generation/1">Génération 1</a>
							<a class="dropdown-item" href="/pokemon/generation/2">Génération 2</a>
							<a class="dropdown-item" href="/pokemon/generation/3">Génération 3</a>
							<a class="dropdown-item" href="/pokemon/generation/4">Génération 4</a>
							<a class="dropdown-item" href="/pokemon/generation/5">Génération 5</a>
							<a class="dropdown-item" href="/pokemon/generation/6">Génération 6</a>
							<a class="dropdown-item" href="/pokemon/generation/7">Génération 7</a>
				        </div>
				    </li>
				    {{#if logged}}
				    <li class="nav-item">
						<a class="nav-link" href="/user/profile">Mon profil</a>
					</li>
				    <li class="nav-item">
						<a class="nav-link" href="/logout">Déconnexion</a>
					</li>
					{{/if}}
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<h2 class="text-center">{{pageTitle}}</h2>
