{{> header}}
	<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
		<p>
			Application web qui recense les différents Pokémons en fonction du format Use Them All (UTA). Le format UTA est une création de Zokuru avec la participation de Fildrong.
		</p>
		<p>
			La page d'accueil vous propose un tableau recensant les 920 pokémons disponibles. En cliquant sur un type, rang ou génération, vous avez accès à un nouveau tableau ne recensant que les pokémons de ce type, rang ou génération.
		</p>
		<p>
			Une recherche avancée est aussi disponible, permettant de sélectionner diverses combinaisons de type, rang et/ou génération, ainsi que le stade d'évolution d'un pokémon.
		</p>
		<p>
			Sources : 
			<ul>
				<li><a href="http://tinyurl.com/y9kmgley" target="_blank">Google Spreadsheet</a></li>
				<li><a href="https://strategydatabase.jimdo.com/uta/" target="_blank">Article des règles</a></li>
			</ul>
			<a href="http://www.guillaume.work/pokemonUTA/index.php" target="_blank">Application de Thrashkal</a> 
		</p>
		<hr>
		{{#if article}}
		<section class="container">
			<h4>{{{article.title}}}</h4>
			{{{article.message}}}
			<div >
				<hr>
				<small>On {{{date}}}</small>
			</div>
		</section>
		<hr>
		{{/if}}
		<form method="get" class="text-center" id="search">
			<div>
				<fieldset class="form-group d-inline field-border field-border-left field-border-right">
					<label for="generation" class="col-form-label text-right">Génération : </label>
					<select name="generation" id="generation" class="custom-select">
						<option value="all">Toutes générations</option>
						<option value="1">Génération 1</option>
						<option value="2">Génération 2</option>
						<option value="3">Génération 3</option>
						<option value="4">Génération 4</option>
						<option value="5">Génération 5</option>
						<option value="6">Génération 6</option>
						<option value="7">Génération 7</option>
					</select>
				</fieldset>
				<fieldset class="form-group d-inline field-border field-border-right">
					<label for="type" class="col-form-label text-right"> Type 1 : </label>
					<select name="type1" id="type1" class="custom-select">
						<option value="all">Tous types</option>
						<option value="acier">Acier</option>
						<option value="combat">Combat</option>
						<option value="dragon">Dragon</option>
						<option value="eau">Eau</option>
						<option value="electrik">Électrik</option>
						<option value="fée">Fée</option>
						<option value="feu">Feu</option>
						<option value="glace">Glace</option>
						<option value="insecte">Insecte</option>
						<option value="normal">Normal</option>
						<option value="plante">Plante</option>
						<option value="poison">Poison</option>
						<option value="psy">Psy</option>
						<option value="roche">Roche</option>
						<option value="sol">Sol</option>
						<option value="spectre">Spectre</option>
						<option value="ténèbres">Ténèbres</option>
						<option value="vol">Vol</option>
					</select>
				</fieldset>
				<fieldset class="form-group d-inline field-border field-border-right">
					<label for="type2" class="col-form-label text-right">Type 2 : </label>
					<select name="type2" id="type2" class="custom-select">
						<option value="all">Tous types</option>
						<option value="none">Sans double type</option>
						<option value="acier">Acier</option>
						<option value="combat">Combat</option>
						<option value="dragon">Dragon</option>
						<option value="eau">Eau</option>
						<option value="electrik">Électrik</option>
						<option value="fée">Fée</option>
						<option value="feu">Feu</option>
						<option value="glace">Glace</option>
						<option value="insecte">Insecte</option>
						<option value="normal">Normal</option>
						<option value="plante">Plante</option>
						<option value="poison">Poison</option>
						<option value="psy">Psy</option>
						<option value="roche">Roche</option>
						<option value="sol">Sol</option>
						<option value="spectre">Spectre</option>
						<option value="ténèbres">Ténèbres</option>
						<option value="vol">Vol</option>
					</select>
				</fieldset> 
				<fieldset class="form-group d-inline field-border field-border-right">
					<label for="rank" class="col-form-label text-right">Rang : </label>
					<select name="rank" id="rank" class="custom-select">
						<option value="all">Tous rangs</option>
						<option value="S">Rang S</option>
						<option value="A">Rang A</option>
						<option value="B">Rang B</option>
						<option value="C">Rang C</option>
						<option value="D">Rang D</option>
						<option value="E">Rang E</option>
						<option value="BAN">Rang BAN</option>
					</select>
				</fieldset>
				<fieldset class="form-group d-inline field-border field-border-right">
					<label for="nfe" class="col-form-label text-right">Stade d'Évolution : </label>
					<select name="nfe" id="nfe" class="custom-select">
						<option value="all">Tous les stades</option>
						<option value="nfe">Not Fully Evolved</option>
						<option value="fe">Fully Evolved</option>
					</select>
				</fieldset>
			</div>
			<div class="text-center container">
				<button type="submit" class="btn btn-info">Rechercher</button>
			</div>
		</form>
		<div class="error">
			<p class="error-type">Les deux types doivent être différents</p>
			{{feedback}}
		</div>
		<hr>
		<section>
			<p id="loading">Chargement des pokémons...</p>
			<div id="pokeTable">
				{{{listTable pokemons}}}
			</div>
		</section>
	{{{pokemonTemplate}}}
	<script type="text/javascript" src="/script/libs/mustache.min.js"></script>
	<script type="text/javascript" src="/script/search.js"></script>
			{{!-- <section>
				<h3>TierList au 14/12/17</h3>
				
				{{{listTable pokemons}}}				
					
			</section> --}}
	</div>
{{> footer}}
		
		
		