{{> header}}

	<div class="login">
		<form method="post" class="form-group">
			<input type="text" name="name" id="name" placeholder="PSEUDO" class="form-control" required />
			<input type="password" name="password" id="password" placeholder="PASSWORD" class="form-control" required />
			<button type="submit" class="btn btn-info">Connexion</button>
		</form>
	</div>
	

{{> footer}}