{{> header}}

	<div class="login">
		<form method="post" action="/user/profile" class="form-group">
			<input type="text" name="name" id="name" placeholder="PSEUDO" class="form-control" required />
			<input type="password" name="password" id="password" placeholder="PASSWORD" class="form-control" required />
			<button type="submit" class="btn btn-info">Connexion</button>
		</form>
	</div>
	<div class="error">
		<p class="error-message"><small>Pseudo ou mot de passe incorrect. En cas de soucis, contactez un admin.</small></p>
	</div>

{{> footer}}