{{#each pokemons}}
	<tr>
		<td><img src="/img/sprites/Miniat_{{this.generation}}_{{idFormat this.id}}.png" alt="name"></td>
		<td>{{idFormat this.id}}</td>
		<td>{{this.nameEn}}</td>
		<td>{{this.nameFr}}</td>
		<td><img src="/img/types/{{lowerCase this.type1}}.png" alt="type1"></td>
		<td>{{#if this.type2}}<img src="/img/types/{{lowerCase this.type2}}.png" alt="type2">{{/if}}</td>
		<td>{{{rank this.rank}}}</td>
	</tr>
{{/each}}