{{> header}}
	<section>
		<h2>Mon profil</h2>
		<p>Pseudo : {{name}}</p>
		<p>Status : {{{isAdmin admin}}}</p>
		<p><a href="/user/profile/update?id={{id}}" class="badge badge-primary">Modifier les informations de connexion</a></p>
		{{#if success}}
			<div class="text-center"> <h4 class="badge badge-success">Profil mis-à-jour</h4></div>
		{{/if}}
		{{#if error}}
			<div class="text-center"> <h4 class="badge badge-danger">Une erreur est survenue ! Insultez le dév' !</h4></div>
		{{/if}}
	</section>
	<hr>
	<section>
		<h2>Modifier les pokémons</h2>
		
		{{{listModo pokemons}}}
			
	</section>
	{{#if admin}}
	<hr>
	<section>
		<h2>Administration</h2>
		<section class="text-center">
			<img src="/img/worker.png" alt="No image found"/>
			<h5>WIP</h5>
		</section>
		<section>
			<h3>Publier une News</h3>
			<form id="index-form" method="post" action="/user/message" class="container">
				<input type="text" name="title" id="title" placeholder="TITRE DE LA NEWS" class="form-control"/>
				<textarea id="index-message" name="message"></textarea>
				<div class="text-center">
					<button type="submit" class="btn btn-info">Publier</button>
				</div>
			</form>
		</section>
		<script type="text/javascript" src="/script/libs/ckeditor/ckeditor.js"></script>
		<script type="text/javascript">
			CKEDITOR.replace("index-message");
		</script>
	</section>
	{{/if}}

{{> footer}}