{{> header}}
	<div class="col-md-6 offset-md-3">
		<form method="post" action="/user/update" class="form-group login">
			<input type="text" name="name" id="name" placeholder="PSEUDO" class="form-control" required value="{{name}}"/>
			
			<input type="password" name="password" id="password" placeholder="NEW PASSWORD" class="form-control" />

			<button type="submit" class="btn btn-success">Envoyer</button>
			<button type="reset" class="btn-danger btn">Annuler</button>
	</form>
	</div>
{{> footer}}