/* CHEATING ^_^" */
#pokeList {
	display: none;
}
/* NFE */
img.nfe {
	width: 32px;
}
/* RANKS */
a.rank.rank-S, a.rank.rank-S:hover {
	color: #FCEB04;
}
a.rank.rank-A, a.rank.rank-A:hover {
	color: #1F9B0B;
}
a.rank.rank-B, a.rank.rank-B:hover {
	color: #09AA7B;
}
a.rank.rank-C, a.rank.rank-C:hover {
	color: #0340BD;
}
a.rank.rank-D, a.rank.rank-D:hover {
	color: #9C3DF5;
}
a.rank.rank-E, a.rank.rank-E:hover {
	color: #D30C57;
}
a.rank.rank-BAN, a.rank.rank-BAN:hover {
	color: #CF0B0B;
}
a.rank.rank-MR, a.rank.rank-MR:hover {
	color: #FFB294;
}
a.rank.rank-S:hover, a.rank.rank-A:hover, a.rank.rank-B:hover, a.rank.rank-C:hover, a.rank.rank-D:hover , a.rank.rank-E:hover, a.rank.rank-BAN:hover, a.rank.rank-MR:hover {
	cursor: pointer;
}
/* LINKS ON TABLE */
table a, table a:hover {
	color: inherit;
}
table a:hover {
	text-decoration: none;
}
/* DATATABLES */
li.page-item .page-link, li.page-item.disabled .page-link, li.page-item.active .page-link, li.page-item .page-link:hover {
	color: white !important;
	border: 1px solid black;
	background-color: #323539;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #323539), color-stop(100%, #212529));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #323539 0%, #212529 100%);
	/* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, #323539 0%, #212529 100%);
	/* FF3.6+ */
	background: -ms-linear-gradient(top, #323539 0%, #212529 100%);
	/* IE10+ */
	background: -o-linear-gradient(top, #323539 0%, #212529 100%);
	/* Opera 11.10+ */
	background: linear-gradient(to bottom, #323539 0%, #212529 100%);
	/* W3C */ 
}
li.page-item.active .page-link, li.page-item .page-link:hover {
	background-color: #585858;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #23272b));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #585858 0%, #23272b 100%);
	/* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, #585858 0%, #23272b 100%);
	/* FF3.6+ */
	background: -ms-linear-gradient(top, #585858 0%, #23272b 100%);
	/* IE10+ */
	background: -o-linear-gradient(top, #585858 0%, #23272b 100%);
	/* Opera 11.10+ */
	background: linear-gradient(to bottom, #585858 0%, #23272b 100%);
	/* W3C */  
}
li.page-item.disabled .page-link {
	    color: #868e96 !important;
}
/* FORMS */
.field-border {
	padding: 5px;
}
.field-border-right {
	border-right: 1px solid rgba(0,0,0,0.25);
}
.field-border-left {
	border-left: 1px solid rgba(0,0,0,0.25);
}
p.error-message, p.error-type {
	color: #dc3545;
	text-align: center;
	display: none;
}
/*p.update-success-message {
	color: #28a745;
	text-align: center;
	font-size: 2rem;
}
p.update-error-message {
	color: #dc3545;
	text-align: center;
	font-size: 2rem;
}*/
h4.badge {
	font-size: 1.5rem;
}
/* LOGIN */
.login {
	max-width: 256px !important;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}
.login input {
	margin-bottom: 1rem;
}
/* POKEFORM */
/*.poke-input {
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.poke-input:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: none;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.poke-input::-webkit-input-placeholder {
	color: #868e96;
	opacity: 1;
}
.poke-input:-ms-input-placeholder {
	color: #868e96;
	opacity: 1;
}
.poke-input::-ms-input-placeholder {
	color: #868e96;
	opacity: 1;
}
.poke-input::placeholder {
	color: #868e96;
	opacity: 1;
}*/
/* ARTICLE NEWS */
article.news {
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	
}